<div class="portfolioelement">
    <div class="image">
        <img src="../../assets/img/join.png" alt="">
    </div>
    
    <div class="text">
        <h2>Join</h2>
        <h3>Angular | Typescript | Html | CSS | Firebase</h3>
        <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</p>
        <div class="buttons">
            <button class="live">Live test</button>
            <button class="github">Github</button>
        </div>

    </div> 
</div>
