<div 
 [ngClass] ="project.row ? 'portfolioelement' : 'reverse'"
 
 *ngFor="let project of projects" 
 >
    <div data-aos="fade-bottom" class="image">
        <img src="{{project.img}}" alt="">
    </div>
    
    <div class="text">
        <h2>{{project.name}}</h2>
        <h3>{{project.techstack}}</h3>
        <p>{{project.description}}</p>
        <div class="buttons">
            <a href="{{project.linktosite}}" target="_blank" class="live">Live test</a>
            <a href="{{project.linktogit}}" target="_blank" class="github">Github</a>
        </div>

    </div> 
</div>
