header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    position: sticky;
    height: 100px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #141D2F;
    backdrop-filter: blur(32.5px);
    z-index: 20;

    img {
        height: 40px;
        width: 200px;
        cursor: pointer;
    }
}


.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 500px;
    height: 32px;

    a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        color: #FFFFFF;
        text-decoration: none;
        

        &:hover {
            color: #1CDAE6;
        }
    }

}

.mobil_button {
    display: none;
    width: 30px;
    height: 30px;
}

#menu {
    width: 30px;
    height: 30px;
}

.mobil_menu {
    display: flex;
    position: absolute;
    right: 0;
    top: 100px;
    width: 0%;
    height: 100vh;
    background-color: rgba(20, 29, 47, 0.915);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 6vw;
        line-height: 220%;
        color: #FFFFFF;
        text-decoration: none;
        scroll-behavior: smooth;
        white-space: nowrap;

        &:hover {
            color: #1CDAE6;
        }
    }

    img {
        position: absolute;
        top: 50px;
        left: 50px;
        width: 40px;
        height: 40px;
    }

}

.menu_fade_in {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    width: 100%;
}

@keyframes fadeIn {
   0% {width: 0%;}
   100% {width: 100%;}
}

.menu_fade_out {
    animation: fadeOut 1s;
    -webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    -o-animation: fadeOut 1s;
    -ms-animation: fadeOut 1s;
}

@keyframes fadeOut {
   0% {width: 100%;}
   100% {width: 0%;}
}

@media (max-width: 1000px) {

    .menu {
        display: none;
    }

    .mobil_menu {
        display: flex;
    }
    .mobil_button {
        display: flex;
    }
}

@media (max-width: 600px) {
    header {
        padding: 10px 50px;;
        img {
            height: 20px;
            width: 100px;
        }
    }

    .mobil_button {
        width: 20px;
        height: 20px;
    }
    #menu {
        width: 20px;
        height: 20px;
    }

    .mobil_menu {
        img {
            width: 30px;
            height: 30px;
        }
    }
}

@media (max-width: 500px) {
    .mobil_menu{
        a {
            font-size: clamp (2rem 10vw 5rem);
        }
    }
    header {
        padding: 10px 50px;
        img {
            height: 20px;
            width: 100px;
        }
    }

}

@media (max-width: 350px) {
    header {
        padding: 10px 25px;
        img {
            height: 20px;
            width: 100px;
        }
    }
}