<footer>
    <div class="impressum">
        <a href="#"><img src="./assets/img/logo.png" alt=""></a>
        <a id="impressum" routerLink="/imprint">Imprint</a>
    </div>

    <div class="sign">
        <p>© Norbert Madarasz 2023</p>
    </div>
    <div class="links">
        <a href="https://github.com/MadMax8704" target="_blank">
            <img src="./assets/img/github.png" alt="">
        </a>
        <a href="mailto: norbert.madarasz87@gmail.com">
            <img src="./assets/img/sendmail.png" alt="">
        </a>
        <a href="https://www.linkedin.com" target="_blank">
            <img src="./assets/img/linkedin.png" alt="">
        </a>
    </div>
</footer>