.main {
    position: flexbox;
    left: 0;
    right: 0;
    background: #141D2F;
    padding: 100px;
    display: flex;
    padding-right: 0;
    overflow: hidden;
    z-index: 3;

    h1 {
        color: white;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 90px;
        line-height: 120%;
        white-space: nowrap;
        z-index: 4;
    }
}

.about-me-box-right {
    color: white;
    font-family: 'Poppins';
    width: 40%;
    display: flex;
    flex-direction: column;
    z-index: 4;
}

.personal {
    display: flex;
    align-items: center;
    align-content: space-between;
    z-index: 5;
    img {
        width: 50px;
        height: 50px;
        padding-left: 50px;
        padding-right: 50px;
        
    }
}

.about-me-box-left {
    display: flex;
    align-items: center;
    align-content: center;
    width: 50vw;
    padding-left: 10%;
    z-index: 5;
    img {
        width: 500px;
        height: 500px;
        border-radius: 100%;
        border: 4px solid #00BEE8;
        
    }
}

.line-2 {
    position: relative;
    border: 2px solid #00BEE8;
    width: 50%;
    padding-left: 100px;
    overflow: hidden;
    z-index: 5;

}

@media (max-width: 1300px) {
    .about-me-box-left {
        img {
            width: 400px;
            height: 400px;
        }
    }

}

@media (max-width: 1150px) {
    .about-me-box-left {
        img {
            width: 300px;
            height: 300px;
        }
    }

}

@media (max-width: 1000px) {
    .about-me-box-left {
        display: none;
    }
    .about-me-box-right {
        width: 100%;
        padding-right: 100px;
    }
    .main {
        h1{
            font-size: 3rem;
        }
    }
}