.main {
    position: relative;
    left: 0;
    right: 0;
    background: #141D2F;
    padding-left: 100px;
    display: flex;
    padding-right:100px ;
    padding-bottom: 200px;
    

    h1 {
        color: white;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 90px;
        line-height: 120%;
        z-index: 2;

    }
}

.about-me-box-right {
    color: white;
    font-family: 'Poppins';
    width: 50%;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.personal {
    display: flex;
    align-items: center;
    align-content: space-between;

    img {
        width: 50px;
        height: 50px;
        padding-left: 50px;
        padding-right: 50px;
        z-index: 2;    
    }
}

.about-me-box-left {
    display: flex;
    align-items: center;
    align-content: center;


    img{
        width: 500px;
        height: 500px;
        border-radius: 100%;
        border: 4px solid #00BEE8;
        z-index: 2;
    }
}

.line-2{
    border: 4px solid #00BEE8;
    width: 200px;
}
