<div class="main" id="About me">
    <div class="about-me-box-right">
        <h1  data-aos="fade-right">About me</h1>
        <div>
            <p data-aos="fade-right">Hi, i am a Front End developer from Karlsruhe. With a lot of passion and commitment
                 i built this site to introduce myself and my projects. Feel free to look around and try out these.</p>
        </div>
        <div class="personal">
            <img src="./assets/img/bulb.png" alt="" data-aos="fade-right" data-aos-delay="300">
            <p data-aos="fade-right">A good idea is not enough to be able to implement it correctly. 
                You need to know the technology and the tools it offers, but once you have it, 
                the possibilities are endless...</p>
        </div>
        <div class="personal">
            <img src="./assets/img/puzzle.png" alt="" data-aos="fade-right" data-aos-delay="300">
            <p data-aos="fade-right">If the picture is not complete and if I am the missing piece of your 
                team, please do not wait contact me and increase your team performance.</p>
        </div>
    </div>


    <div class="about-me-box-left">
        <img src="./assets/img/profil_1.png" alt="">
        <div class="line-2"></div>
    </div>
</div>