<div class="main" id="About me">
    <div class="about-me-box-right">
        <h1  data-aos="fade-right">About me</h1>
        <div>
            <p data-aos="fade-right">Hi, i am a Front End developer, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro assumenda
                reiciendis molestiae eos quasi dolor facere quae labore fugit ex repellendus corporis aspernatur id,
                culpa adipisci hic reprehenderit quaerat enim?</p>
        </div>
        <div class="personal">
            <img src="../../assets/img/bulb.png" alt="" data-aos="fade-right" data-aos-delay="300">
            <p data-aos="fade-right">Some personal thing Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, accusantium possimus
                quibusdam obcaecati, voluptates maiores quaerat dignissimos accusamus ipsam numquam dolorum laborum
                molestiae error quia quas. Molestias eligendi aperiam minus?</p>
        </div>
        <div class="personal">
            <img src="../../assets/img/puzzle.png" alt="" data-aos="fade-right" data-aos-delay="300">
            <p data-aos="fade-right">Some personal thing Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, accusantium possimus
                quibusdam obcaecati, voluptates maiores quaerat dignissimos accusamus ipsam numquam dolorum laborum
                molestiae error quia quas. Molestias eligendi aperiam minus?</p>
        </div>
    </div>


    <div class="about-me-box-left">
        <img src="../../assets/img/profil_1.png" alt="">
        <div class="line-2"></div>
    </div>
</div>