<div class="d-blue">
    <img class="animation_blur" src="../..//src/assets/img/D. blue footer.png" alt="">
</div>
<div class="contact" id="Contact">
    <div class="head">
        <div class="lineholder">
            <div class="line"></div>
        </div>
        <div>
            <h1>Contact</h1>
        </div>
    </div>
    <div class="tabs">
        <div data-aos="fade-right" class="text">
            <h2>Got a problem solve?</h2>
            <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
                projects with my work.</p>
            <p>Need a Frontend developer? Contact me!</p>
        </div>

        <div class="inputfeld">
            <form action="https://norbert-madarasz.developerakademie.net/send_mail.php" method="post">
                <input name="name" required id="name" type="text" placeholder="Your name">
                <input required id="email" type="email" placeholder="Your email">
                <textarea name="message" required id="message" rows="10" cols="10"
                    placeholder="Your message"></textarea>
                    <div class="btndiv">
                        <button id="submitbtn" type="submit">Send message :)</button>
                    </div>
                
            </form>
        </div>
    </div>
    <div class="to_top_button">
        <a href="#">
            <img src="../..//src/assets/img/goup2.png" alt="">
            <img class="to_up_blue" src="../..//src/assets/img/goup.png" alt="">
        </a>

    </div>

</div>