<div class="contact">
    <div class="head">
        <div class="line"></div>
            <h1>Contact</h1>
    </div>
    <div class="tabs">
        <div class="text">
            <h2>Got a problem solve?</h2>
            <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</p>
            <p>Need a Frontend developer? Contact me!</p>
            <img src="../..//src/assets/img/D. blue footer.png" alt="">
        </div>

        <div class="inputfeld">
            <form action="#">
                <input id="name" type="text" placeholder="Your name">
                <input id="email" type="email" placeholder="Your email">
                <textarea rows="10" cols="10" id="message"  placeholder="Your message"></textarea>
                <button type="submit" id="submitbtn">Send message :)</button>
                
            </form>
        </div>
    </div>
</div>