<div class="main">
    <img class="d-blue" src="../../assets/img/D.blue.png" alt="" srcset="">
    <img class="l-blue" src="../../assets/img/L. blue.png" alt="" srcset="">
    <img class="profil-img-1" src="../../assets/img/profil_2.png" alt="">
    <img class="profil-img-1" src="../../assets/img/profil_2.png" alt="" srcset="">
    <img class="vector" src="../../assets/img/Vector.png" alt="" srcset="">
    <div class="name">
        <div style="display: flex;">
            <div style="display: flex;align-items: center; height: fit-content;">
                <h2> I am</h2>
            </div>
            <div>
                <div style="display: flex;align-items: center;">
                    <h1>Norbert Madarasz</h1>
                </div>
                <div style="display: flex;align-items: center;">
                    <h3>FRONTEND DEVELOPER</h3>
                </div>
            </div>
        </div>
        <div>
            <button>Let's talk!</button>
        </div>
    </div>
    <div class="scroll">
        <span>Scroll down</span>
        <img src="../../assets/img/Pfeile.png" alt="">
    </div>
    <img class="shape-right" src="../../assets/img/D. blue seite.png" alt="">
    <div class="under-foto">
        <div class="line"></div>
        <img src="../../assets/img/github.png" alt="">
        <img src="../../assets/img/sendmail.png" alt="">
        <img src="../../assets/img/linkedin.png" alt="">
        <a href="#">norbert.madarasz@gmail.com</a>
    </div>
</div>