.main {
    display: flexbox;
    background: #141D2F;
    height: 80svh;
    justify-content: center;
    align-items: center;
}

.elements {
    display:flex;
    padding-left: 100px;
    padding-right: 100px;
}

.profilfoto {
    display: flex;
    justify-content: center;
    position: relative;
    width: 80%;
    height: 70vh;
    img {
        position: absolute;

    }

}

.purple_motiv {
    width: 500px;
    padding-left: 300px;
}

.blue_motiv {
    width: 500px;
    padding-right: 100px;
}

.profil1 {
    width: 500px;
    padding-left: 100px;
}

.profil2 {
    z-index: 5;
}

.name {
    z-index: 5;
}

.text {
    display: grid;
    grid-template-columns: 15% 85%;
    width: 100%;
    white-space: nowrap;
    padding-top: 20%;
    z-index: 5;
    h1 {
        margin: 0;
        font-size: 5rem;
        color: #FFFFFF;
    }

    h2 {
        transform: rotate(-90deg);
        font-size: 4.5rem;
        margin: 0;
        color: #FFFFFF;
    }

    h3 {
        margin: 0;
        font-size: 4rem;
        color: #4B47FF;
        text-transform: uppercase;
    }
}

.rotated {
    justify-content: end;
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
}

.button-holder {
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    width: 10rem;
    height: 2rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    background: #00BEE8;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #FFFFFF;
}

.button:hover {
    width: 150px;
    height: 40px;
    background-color: #4B47FF;
}

.scroll {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    bottom: 8rem;
    right: 10px;
    width: 170px;
    height: 28px;
    transform: rotate(90deg);
    z-index: 11;

    span {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 120%;
        color: #FFFFFF;        
    }

    img {
        width: 1rem;
        height: 1rem;
        transform: rotate(-90deg);
        padding-top: 1rem;        
    }
}

.animation_move {
    animation-name: moveing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moveing {
    0% {padding-top: 1rem;}
    50% {padding-top: 2rem;}
    100% {padding-top: 1rem;}
}

.vector {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 4;
    
    img {
        width: 2400px;
        height: 1600px;
    }
}

.line {
    width: 100px;
    border: 2px solid #4B47FF;
    border-radius: 0px 10px 10px 0px;
    height: 0px;
    z-index: 6;
}
.shape-right {
    position: absolute;
    right: 0;
    top: 40rem;
    z-index: 10;
}

.animation_blur {
    animation-name: blur;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes blur {
    0% {
        
        filter: blur(50px);
        opacity: 0.7;
    }

    50% {
        filter: blur(5px);
        opacity: 1;
    }

    100% {
        filter: blur(50px);
        opacity: 0.7;
    }
}

.under-foto {    
    background-color:#141D2F;
    display: flex;
    width: 100%;
    align-items: center;
    
    img {
        height: 2rem;
        width: 2rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    a {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 10%;
        text-decoration: none;
        color: #FFFFFF;
    }
    
}

.contact {
    z-index: 15;
    align-items: center;
    display: flex;
}

@media (max-width: 1500px) {
    .text {
        h1 {
            font-size: 4rem;
        }
        h2 {
            font-size: 3.5rem;
        }
        h3 {
            font-size: 3rem;
        }
    }
}

@media (max-width: 1280px) {
    .profil1 {
        width: 500px;
    }
    .text {
        h1 {
            font-size: 3.5rem;
        }
        h2 {
            font-size: 3rem;
        }
        h3 {
            font-size: 2.5rem;
        }
    }
    .vector {
        top: 0;
        left: 0;
        img {
            width: 1400px;
            
        }
    }
}

@media (max-width: 1100px) {
    .profil1 {
        width: 400px;
    }
    .profilfoto {
        img {
            top: 5vw;
        }
    }
    .text {
        h1 {
            font-size: 3rem;
        }
        h2 {
            font-size: 2.5rem;
        }
        h3 {
            font-size: 2rem;
        }
    }
}

@media (max-width: 950px) {
    .profil1 {
        width: 450px;
        padding: 0;
    }
    .profilfoto {
        img {
            top: -20px;
        }
        height: 50vh;
        
    }
    .purple_motiv {
        width: none;
        padding-left: 0;
    }
    
    .blue_motiv {
        width: none;
        padding-right: 0;
    }
    

    .button {
        width: 5rem;
        height: 1rem;
        font-size: 1rem;
    }
    .blue_motiv {
        width: 100%;        
    }

    .purple_motiv {
        width: 100%;        
    }
    #email_link {
        display: none;
    }

    .elements {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .scroll {
        display: none;
    }
}
.under-foto {
    padding-top: 2rem;
}

@media (max-width: 700px) {
    .main {
        height: 100svh;
    }
    .text {
        h1 {
            font-size: 2.5rem;
        }
        h2 {
            font-size: 2rem;
        }
        h3 {
            font-size: 1.5rem;
        }
    }
    .vector {
        top: -20px;
        left: 0;
        img {
            width: 1000px;
            
        }
    }
}

@media (max-width: 500px) {
    .text {
        h1 {
            font-size: 2rem;
        }
        h2 {
            font-size: 1.8rem;
        }
        h3 {
            font-size: 1.5rem;
        }
    }
    .profil1 {
        width: 300px;
        padding: 0;
    }
    .profilfoto {
        img {
            top: 0;
        }
        height: 40vh;
        
    }
    .vector {
        top: -170px;
        left: 0;
        img {
            width: 1000px;
            
        }
    }
}

@media (max-width: 450px) {
    .text {
        h1 {
            font-size: 1.7rem;
        }
        h2 {
            font-size: 1.6rem;
        }
        h3 {
            font-size: 1.2rem;
        }
    }
    .vector {
        top: -230px;
        left: 0;
        img {
            width: 800px;
            
        }
    }
    .profilfoto {
        height: 47vh;
    }
    .main {
        height: 80svh;
    }
}
