<div class="main">
    <div class="elements">
        <div class="profilfoto">
            <img class="purple_motiv animation_blur" src="./assets/img/L. blue.png" alt="" srcset="">
            <img class="blue_motiv animation_blur" src="./assets/img/D.blue.png" alt="" srcset="">
            <img class="profil1" src="./assets/img/profil-1.png" alt="">
            <img class="profil1 profil2" src="./assets/img/profil-2.png" alt="" srcset="">
        </div>


        <div class="name">
            <div class="inner-name">
                <div class="text">
                    <div class="rotated">
                        <h2>I am</h2>
                    </div>
                    <div>
                        <div>
                            <h1>Norbert Madarasz</h1>
                        </div>
                        <div>
                            <h3>Frontend Developer</h3>
                        </div>
                    </div>
                </div>

                <div class="button-holder">
                    <a href="#Contact" class="button">Let's talk!</a>
                </div>
            </div>
        </div>

    </div>

    
    <div class="under-foto">
        <div class="line"></div>
        <div class="contact">
            <a href="https://github.com/MadMax8704" target="_blank"><img src="./assets/img/github.png" alt=""></a>
            <a href="#Contact"><img src="./assets/img/sendmail.png" alt=""></a>
            <a href="https://www.linkedin.com" target="_blank"><img src="./assets/img/linkedin.png" alt=""></a>
            <a id="email_link" href="mailto: norbert.madarasz87@gmail.com">norbert.madarasz87@gmail.com</a>
        </div>
    </div>
</div>

<div class="vector">
    <img src="./assets/img/Vector.png" alt="" srcset="">
</div>

<div class="scroll">
    <span>Scroll down</span>
    <img src="./assets/img/Pfeile.png" alt="">
</div>

<img class="shape-right animation_blur" src="./assets/img/D. blue seite.png" alt="">

<app-aboutme></app-aboutme>
<app-myskills></app-myskills>
<app-portfolio></app-portfolio>
<app-contact></app-contact>