.main {
    display: flex;
    position: relative;
    justify-content: center;
    left: 0px;
    right: 0px;
    height: 100vh;
    width: 100%;
    background: #141D2F;

}

.d-blue {
    position: absolute;
    height: 600px;
    left: 4%;
    top: 10%;
    filter: blur(46.5px);
    z-index: 2;
}

.l-blue {
    position: absolute;
    width: 530px;
    height: 380px;
    left: 4%;
    top: 10%;
    filter: blur(46.5px);
    transform: rotate(-100.81deg);
    z-index: 2;
}

.profil-img-1 {
    position: absolute;
    top: 0;
    left: 100px;
    height: 70%;
    z-index: 2;
}

.profil-img-2 {
    z-index: 3;
}

.profilfoto {
    width: 20vw;
    padding-left: 100px;

}

.vector {
    position: absolute;
    top: 4vh;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 2;
    img{
        width: 2000px;
    }
}

.name {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    padding-right: 100px;
    z-index: 6;


    h1 {
        color: white;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 5vw;
        line-height: 120%;
        margin: 0;
        white-space: nowrap;

    }

    h2 {
        color: white;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 4vw;
        white-space: nowrap;
        color: #FFFFFF;
        transform: rotate(-90deg);
        margin: 0;
    }

    h3 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 4vw;
        line-height: 120%;
        color: #4B47FF;
        margin: 0;
        white-space: nowrap;

    }

    
    .button {
        display: flex;
        width: 80px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        gap: 10px;
        top: 250px;
        background: #00BEE8;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: poppins;
        text-decoration: none;
    }
    
    
}

.h2 {
    height: 100px; 
    width: 200px;
    display: flex; 
    justify-content: end;
}

.scroll {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    bottom: 250px;
    right: 10px;
    width: 170px;
    height: 28px;
    transform: rotate(90deg);
    z-index: 5;

    span {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        color: #FFFFFF;
    }

    img {
        width: 15.56px;
        height: 16px;
        transform: rotate(-90deg);
        padding-top: 10px;
    }
}

.shape-right {
    position: absolute;
    right: 0;
    bottom: -50%;
    z-index: 6;
}

.line {
    width: 100px;
    border: 4px solid #4B47FF;
    height: 0px;
    z-index: 6;
}

.under-foto {
    position: absolute;
    left: 0;
    bottom: 150px;
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    z-index: 6;

    img {
        height: 30px;
        width: 30px;
        padding-right: 30px;
        padding-left: 30px;
    }

    a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        text-decoration: none;
        color: #FFFFFF;
    }

}

.animation {
    animation-name: neon;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;   
}
@keyframes neon {
    0%   {left:3%; top:10%;height: 100%;transform: rotate(0 deg);filter: blur(46.5px); opacity: 1;}
    25%  {left:5%; top:15%;height: 90%;transform: rotate(15 deg);filter: blur(86.5px); opacity: 0,4;}
    50%  {left:10%; top:25%;height: 80%;transform: rotate(30 deg);filter: blur(36.5px); opacity: 0,1;}
    75%  {left:5%; top:15%;height: 90%;transform: rotate(15 deg);filter: blur(56.5px); opacity: 0,4;}
    100% {left:3%; top:10%;height: 100%;transform: rotate(0 deg);filter: blur(46.5px); opacity: 1;}
}

@media (max-width: 1400px) {
    .vector {
        
    }
}

@media (max-width: 1250px) {
    .vector {
        
    }

    .profil-img-1 {
        height: 60%;
        top: 10vh;
    }

    .name {
        width: 50%;
    }

    .name {
        h1 {
            font-size: 4vw;
        }

        h2 {
            font-size: 3vw;
        }

        h3 {
            font-size: 3vw;
        }
    }
}


@media (max-width: 1000px) {
    .main {
        flex-direction: column;
    }

    .profilfoto {
        width: 60%;
        padding: 0;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    .profil-img-1{        
        width: 80%;
        object-fit: contain;
    }
    .scroll {
        display: none;
    }
    .name {
        padding: 50px;
        width: 100%;
        padding: 0;
        h1 {
            font-size: 7vw;
        }

        h2 {
            font-size: 6vw;
        }

        h3 {
            font-size: 6vw;
        }
    }
    .h2 {
        width: 30px;
        height: 20px;
    }
    .under-foto {
        bottom: -100px;
    }
    #email_link {
        display: none;
    }
    .d-blue {
        width: 40%;
        left: 50%;
        right: 70%;
        top: 20%;

    }
    
    .l-blue {
        width: 40%;
        height: 380px;
        left: 20%;
        top: 250px;
        
    }
}