.main {
    display: flex;
    position: relative;
    justify-content: center;
    left: 0px;
    right: 0px;
    height: 100vh;
    width: 100%;
    background: #141D2F;
    
}

.d-blue {
    position: relative;
    height: 608px;
    left: 0.83%;
    right: 70.9%;
    top: 185px;
    // background: #4B47FF;
    filter: blur(46.5px);
    z-index: 2;
}

.l-blue {
    position: absolute;
    width: 521.78px;
    height: 378.29px;
    left: 10px;
    top: 300px;
    filter: blur(46.5px);
    transform: rotate(-100.81deg);
    z-index: 2;
}

.profil-img-1 {
    position: absolute;
    top: 0;
    left: 100px;
    height: 70%;
    z-index: 1;
}

.profil-img-2 {
    z-index: 3;
}

.profilfoto {
    width: 20vw;
    padding-left: 100px;
    
}

.vector {
    position: absolute;
    top: 10vh;
    left: 0;   
    width: 100%;
    overflow: hidden; 
    z-index: 0;
}

.name {   
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    padding-right: 100px;


    h1 {
        color: white;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 5vw;
        line-height: 120%;
        margin: 0;
        white-space: nowrap;
   
    }

    h2 {
        color: white;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 4vw;
        white-space: nowrap;
        color: #FFFFFF;
        transform: rotate(-90deg);
        margin: 0;
    }

    h3 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 4vw;
        line-height: 120%;
        color: #4B47FF;
        margin: 0;
        white-space: nowrap;

    }

    .button {
        display: flex;
        width: 80px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        gap: 10px;
        top: 250px;
        background: #00BEE8;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: poppins;
        text-decoration: none;
    }


}

.scroll {

    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    bottom: 250px;
    right: 10px;
    width: 170px;
    height: 28px;
    transform: rotate(90deg);
    z-index: 2;
    /* Style 1/subtitles */



    span {

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        color: #FFFFFF;
        
    }

    img {
        width: 15.56px;
        height: 16px;
        transform: rotate(-90deg);
        padding-top: 10px;
        
    }

}

.shape-right {
    position: absolute;
    right: 0;
    bottom: -50%;
    z-index: 2;
}

.line {
    width: 100px;
    border: 4px solid #4B47FF;
    height: 0px;
    z-index: 2;
}

.under-foto {
    position: absolute;
    left: 0;
    bottom: 150px;
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    z-index: 1;

    img {
        height: 30px;
        width: 30px;
        padding-right: 30px;
        padding-left: 30px;
    }

    a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        text-decoration: none;
        color: #FFFFFF;
    }

}

@media (max-width: 1400px) {
    .vector {
        top:25vh;
    }
}
@media (max-width: 1250px) {
    .vector {
        top:30vh;
    }
    .profil-img-1 {
        height: 60%;
        top: 10vh;
    }
    .name {
        width: 90%;
    }
    .name {
        h1 {
            font-size: 4vw;
        }
        h2 {
            font-size: 3wv;
        }
        h3 {
            font-size: 3wv;
        }
    }
}


@media (max-width: 1000px) {
    .main {
        flex-direction: column;
    }
    .profilfoto {
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .profil-img-1 {
        
        

    }
    
    

}