<div class="main">

    <div class="profilfoto">
        <img class="d-blue" src="../../assets/img/D.blue.png" alt="" srcset="">
        <img class="l-blue" src="../../assets/img/L. blue.png" alt="" srcset="">
        <img class="profil-img-1" src="../../assets/img/profil_2.png" alt="">
        <img class="profil-img-1 profil-img-2" src="../../assets/img/profil_2_2.png" alt="" srcset="">
    </div>
    
    <img class="shape-right" src="../../assets/img/D. blue seite.png" alt="">
    
    <div class="vector"><img  src="../../assets/img/Vector.png" alt="" srcset=""></div>
    <div class="name">
        <div style="display: flex; align-items: center;
        justify-content: center; padding-top: 100px;">
            <div class="h2">
                <h2>I am</h2>
            </div>
            <div>
                <div>
                    <h1>Norbert Madarasz</h1>
                </div>
                <div>
                    <h3>Frontend Developer</h3>
                </div>
            </div>
        </div>

        <div>
            <a href="#Contact" class="button">Let's talk!</a>
        </div>
    </div>


    <div class="scroll">
        <span>Scroll down</span>
        <img src="../../assets/img/Pfeile.png" alt="">
    </div>


    <div class="under-foto">
        <div class="line"></div>
        <a href="#"><img src="../../assets/img/github.png" alt=""></a>
        <a href="#"><img src="../../assets/img/sendmail.png" alt=""></a>
        <a href="#"><img src="../../assets/img/linkedin.png" alt=""></a>
        <a id="email_link" href="mailto: norbert.madarasz87@gmail.com">norbert.madarasz87@gmail.com</a>
    </div>
</div>