<div class="mys" id="Skills">
    <div>
        <div class="myskills">
            <h1>My skills</h1>
            <div class="line">
            </div>
        </div>
        <div class="putton">
            <p>
                I have grown my frontend developments skills
                that have allowed me to create different real
                projects.
            </p>
            <a>Get in touch</a>
        </div>

    </div>
    <div class="ico_holder">
        <div class="ico" *ngFor="let img of images">
            <img class="animation_ico" src="../../assets/ico/{{img}}.png" alt="">
            <p>{{img}}</p>
        </div>
    </div>

    <img class="shape animation_blur" src="../../assets/img/L. blue.png" alt="">
</div>