.mys {
    position: relative;
    left: 0;
    right: 0;
    background: #141D2F;
    z-index: 0;
    padding-top: 100px;
    padding-left: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    h1 {
        color: white;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 90px;
        line-height: 120%;
        padding-right: 100px;
        white-space: nowrap;

    }

    p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        text-align: right;
        color: #FFFFFF;
    }

    button {
        background: #00BEE8;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        width: 200px;
        height: 58px;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        color: #FFFFFF;

    }
}

.ico_holder {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: fit-content;

    .ico {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 200px;
    }

    p {
        margin-top: 5px;
    }

    img {
        width: 60px;
        height: 60px;
    }
}

.putton {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 100px;
}

.myskills {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.line {
    width: 58px;
    height: 0px;
    border: 4px solid #4B47FF;
}

.shape {
    position: absolute;
    right: 80%;
    top: 20%;
    filter: blur(46.5px);
    transform: rotate(-151.74deg);
    z-index: 2;
}

@media (max-width: 1300px) {
    .ico_holder {
        .ico {
            width: 150px;
            height: 150px;
        }
    }
}

@media (max-width: 1150px) {
    .ico_holder {
        .ico {
            width: 120px;
            height: 120px;

            p {
                text-align: center;
            }
        }
    }

    .myskills {

        h1 {
                padding-right: 50px;
        }
    }
    
}

@media (max-width: 1000px) {
    .mys {
        flex-direction: column;
    }

    .ico_holder {
        width: 100%;
        align-items: center;
        padding-bottom: 100px;
        padding-top: 100px;


        .ico {
            width: 200px;
            height: 200px;
        }
    }

    .putton {
        button {
            position: absolute;
            bottom: 0;
        }
    }
}

@media (max-width: 750px) {
    .ico_holder {

        .ico {
            width: 150px;
            height: 150px;
        }
    }
    .myskills {

        h1 {
                padding-right: 0px;
        }
    }
}