.mys {
    position: relative;
    left: 0;
    right: 0;
    background: #141D2F;
    z-index: 0;
    padding-top: 200px;
    padding-left: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    
    

    h1 {
        color: white;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 90px;
        line-height: 120%;
        padding-right: 100px;
        white-space: nowrap;

    }

    p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        text-align: right;
        color: #FFFFFF;
    }

    a {
        background: #00BEE8;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        width: 200px;
        height: 60px;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        color: #FFFFFF;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    a:hover {
        width: 240px;
        height: 70px;
        background-color: #4B47FF;
        cursor: pointer;
    }
}

.ico_holder {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: fit-content;
    z-index: 5;

    .ico {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 200px;
    }

    p {
        margin-top: 5px;
    }

    img {
        width: 60px;
        height: 60px;
    }
}

.animation_ico:hover {
    animation-name: ico;
    animation-duration: 0.2s;
    animation-iteration-count: 2;
    animation-timing-function: linear;

    @keyframes ico {
        0% {}

        50% {
            transform: translateY(-20px);
        }

        100% {}
    }
}

.putton {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 100px;
}

.myskills {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.line {
    width: 58px;
    height: 0px;
    border: 4px solid #4B47FF;
}

.shape {
    position: absolute;
    right: 80%;
    top: 5%;
    filter: blur(46.5px);
    transform: rotate(-151.74deg);
    z-index: 2;
    overflow: visible;
}

.animation_blur {
    animation-name: blur;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes blur {
    0% {
        filter: blur(50px);
        opacity: 0.5;
    }

    50% {
        filter: blur(5px);
        opacity: 1;
    }

    100% {
        filter: blur(50px);
        opacity: 0.5;
    }
}

@media (max-width: 1300px) {
    .ico_holder {
        .ico {
            width: 150px;
            height: 150px;
        }
    }
}

@media (max-width: 1150px) {
    .ico_holder {
        .ico {
            width: 120px;
            height: 120px;

            p {
                text-align: center;
            }
        }
    }

    .myskills {

        h1 {
            padding-right: 50px;
        }
    }

}

@media (max-width: 1000px) {
    .mys {
        flex-direction: column;
    }

    .ico_holder {
        width: 100%;
        align-items: center;
        padding-bottom: 100px;
        padding-top: 100px;


        .ico {
            width: 200px;
            height: 200px;
        }
    }

    .putton {
        button {
            position: absolute;
            bottom: 0;
        }
    }
}

@media (max-width: 750px) {
    .ico_holder {

        .ico {
            width: 150px;
            height: 150px;
        }
    }

    .myskills {

        h1 {
            padding-right: 0px;
        }
    }
}

@media (max-width: 600px) {
    .myskills {
    h1 {
        font-size: 3rem;
    }
}
}