/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Poppins";
    src: local("Poppins"), url(./assets/fonts/Poppins-Regular.ttf) format("truetype");
}

body , html {
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}

// * {
//     box-sizing: border-box;
//     outline: 1px solid limegreen !important;
// }